* { 
    box-sizing: border-box;
    font-size: 100%;
}

#conteudo {
    max-width: 500px; /* valor maximo de largura. Se for definido um valor maxino o valor minimo nao vai existir */
    min-width: 500px; /* valor minimo de largura Se for definido um valor minimo o valor maximo nao vai existir */
    background-color: #cfcf;
    padding: 20px; /* espaçamento interno */
    width: 80%;
    height: 100%;
}

#exemplo {
    background-color: grey;
    width: 500px;
    padding: 10px 20px 30px 30px; /* espacamento interno para cada lado no sentido horario começando da parte superior*/
}

#exemplo2 {
    background-color: #bfff;
    margin: 20px 0 10px 20px; /* margin espaçamento externo*/
    padding: 10px 10px 10px 10px;
}

#conteudo2 p {
    color: #fbffaa;
    background-color: black;
    font-size: 22px;
    padding: 10px 20px 10px 20px;
    text-transform: capitalize;
    text-align: justify;
    text-indent: 40px; /* recuo na primeira linha do texto*/
    line-height: 25px; /* espaçamento entre as linhas*/
    direction: ltr;/* direcao do texto*/
    letter-spacing: 4px; /* espaçamento entre letras*/
    word-spacing: 0; /* espaçamento entre palavras*/
}
#conteudo2 h1 {
    text-decoration: underline; /*decoração no texto*/
    text-align: left;
    text-shadow: 3px 0px 5px black;/*posicao horizontal, posicao vertical, descoque, cor da sombra*/
}
#conteudo2 h2 { 
    text-decoration: overline;
    text-align: right;
}
#conteudo2 h3 {
    text-align: center;
    text-decoration: line-through;
}

#boxsizing-boxshadow {
    background-color: red;
    width: 300px;
    padding: 20px;
    box-shadow: 10px 10px 5px green;
}

#overflow_opacity {
    margin: 20px 0 0 0;
    padding: 10px;
    background-color: rosybrown;
    width: 300px;
    height: 70px;
    overflow: auto;
    text-align: justify;
}

#overflow_opacity p {
    opacity: 0.5;
}

#border-radius {
    margin: 20px 0 0 0;
    background-color: sienna;
    width: 300px;
    height: 80px;
    border-radius: 20px; /*aceita 4 paramentros*/
}

#fonts {
    background-color: black;
    padding: 10px;
}

#fonts p {
    text-align: justify;
    font-size: 2.5em;
    font-weight: bold;
    color: white;
    font-family: 'Tangerine', serif;
    font-variant: small-caps;
    font-style: italic;
}

#gradientesColors {
    align-content: center;
    margin: 25px 0 0 0;
    width: 200px;
    height: 200px;
    /* background: linear-gradient(to top left, black, red); */
    /*background-color:#f9f007;   */
    background: radial-gradient(white, black);
    text-align: center;
}
#gradientesColors p {
    font-size: 3.5em;
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#float-id {
    margin: 10px 0 0 0;
    width: 600px;
    height: 600px;
    background:forestgreen;
}

#esquerda {
    background-color: gray;
    width: 300px;
    height: 300px;
    float: left;
}

#direita {
    background-color: indigo;
    width: 300px;
    height: 300px;
    float: right;
}

#conteudo3 { 
    margin: 20px 0 0 0;
    background-color: slategrey;
    width: 250px;
    height: 250px;
    position: relative;
}

#texto {
    background-color: springgreen;
    width: 200px;
    position: absolute;
    left: 0;
    top: 40px;
}

#exemplo-texto {
    /* border-style: solid;
    border-width: 5px;
    border-color: tomato; */
    border: solid 5px tomato;
    outline: dotted 5px green;
}

#hover-id {
    width: 200px;
    height: 200px;
    background-color:red;
   /*  transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 2s; */
    transition: width 2s linear 1s;
}

#hover-id:hover{
    width: 350px;
    height: 350px;
    background-color: salmon;
}

body {
    background-color: violet;
}